:root {
  --main-color: #FB088C;
  --secondary-color: #212222;
  --bg-color: #fff;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  padding: 54px 0px 0px;
}

footer,
section {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 30;
  box-sizing: border-box;
}

header span {
  display: block;
  font-size: 24px;
  line-height: 100%;
  color: var(--main-color);
  font-weight: 700;
  margin: 15px;
}

header input[type=checkbox] {
  position: absolute;
  appearance: none;
  width: 30px;
  height: 30px;
  display: block;
  top: 9px;
  right: 15px;
  cursor: pointer;
}

header input[type=checkbox]:after,
header input[type=checkbox]:before {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: var(--secondary-color);
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.3s;
}

header input[type=checkbox]:before {
  top: 20px;
}

header input[type=checkbox]:checked:after,
header input[type=checkbox]:checked:before {
  transform: rotate(45deg);
  top: 15px;
}

header input[type=checkbox]:checked:before {
  transform: rotate(-45deg);
}

header input[type=checkbox] ~ ul {
  width: 100%;
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  margin: 0px;
  left: 100%;
  z-index: 20;
  transition: left 0.3s;
}

header input[type=checkbox] ~ ul li {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  padding: 5px 0px;
}

header input[type=checkbox] ~ ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

header input[type=checkbox] ~ ul li a:hover {
  color: var(--main-color);
}

header input[type=checkbox]:checked ~ ul {
  left: 0%;
}

nav {
  display: none;
}

section:nth-of-type(1) {
  overflow: hidden;
  margin-bottom: 120px;
}

section:nth-of-type(1) h1 {
  font-size: 118px;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 60px 0px;
}

section:nth-of-type(1) h1 span {
  display: block;
  position: relative;
  padding: 0px;
}

section:nth-of-type(1) h1 span:nth-child(odd) {
  text-align: right;
}

section:nth-of-type(1) h1 span:nth-child(even) {
  text-align: left;
}

section:nth-of-type(1) h1 span:first-child {
  border-bottom: 2px solid #c7c7c7;
  margin: 0px 10px -70px;
  padding-left: 65px;
}

section:nth-of-type(1) h1 span:last-child {
  border-top: 2px solid #c7c7c7;
  margin: -70px 10px 0px;
  padding-left: 100px;
}

section:nth-of-type(1) h1 span:nth-child(2) {
  z-index: 20;
  background: transparent url(../images/Mug1.png) calc(100% + 66px) center no-repeat;
  background-size: contain;
  margin: 0px 0px 0px -110px;
  padding: 80px 10px;
}

section:nth-of-type(1) p {
  font-size: 24px;
  line-height: 140%;
  padding: 10px;
  margin: 0px;
}

section:nth-of-type(1) p:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  margin-right: 20px;
}

section:nth-of-type(2) {
  overflow: hidden;
}

section:nth-of-type(2) article {
  position: relative;
  margin-bottom: 120px;
}

section:nth-of-type(2) article:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #00000045;
  z-index: 20;
}

section:nth-of-type(2) article div {
  padding: 20px 40% 20px 20px;
  position: relative;
  background: transparent none calc(100% + 66px) center no-repeat;
  background-size: contain;
  z-index: 20;
}

section:nth-of-type(2) article input[type=radio]:nth-of-type(1):checked ~ div {
  background-image: var(--bg-image1);
}

section:nth-of-type(2) article input[type=radio]:nth-of-type(2):checked ~ div {
  background-image: var(--bg-image2);
}

section:nth-of-type(2) article h2 {
  font-size: 50px;
  line-height: 132%;
  font-weight: 700;
  padding: 0px;
  margin: 30px 0px 5px;
}

section:nth-of-type(2) article h2 a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

section:nth-of-type(2) article h2 a:hover,
section:nth-of-type(2) article h2 a:focus {
  color: #727475;
}

section:nth-of-type(2) article p {
  font-size: 14px;
  line-height: 132%;
  padding: 0px;
  margin: 0px 0px 25px;
} 

section:nth-of-type(2) article input[type=radio] {
  display: none;
}

section:nth-of-type(2) article label {
  cursor: pointer;
  background-color: var(--color);
  display: inline-block;
  width: 31px;
  height: 14px;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}

section:nth-of-type(2) article button,
footer form button {
  display: block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  font-size: 18px;
  line-height: 100%;
  margin: 60px 0px 30px;
  padding: 0px 40px 0px 0px;
}

section:nth-of-type(2) article button:after,
footer form button:after {
  content: "";
  height: 18px;
  width: 28px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color:  var(--secondary-color);
  clip-path: polygon(0% 0%, 0% 55%, 93% 55%, 76% 76%, 79% 78%, 100% 50%, 77% 19%, 74% 24%, 95% 48%, 4% 49%, 3% 0%);
}

footer {
  background-color: #222;
  margin: 0px auto;
  padding: 40px 10px;
  color: #fff;
}

footer h5 {
  font-size: 26px;
  line-height: 130%;
  padding: 0px;
  margin: 0px;
}

footer p {
  font-size: 18px;
  line-height: 130%;
  padding: 0px;
  margin: 0px;
}

footer form {
  margin: 60px 0px;
}

footer form input[type=email] {
  font-size: 16px;
  line-height: 100%;
  padding: 5px 5px 5px 0px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  outline: none;
  color: #fff;
}

footer form label {
  font-size: 14px;
  line-height: 150%;
  position: relative;
  padding: 0px 60px 0px 25px;
  display: block;
  margin-top: 10px;
}

footer form label input[type=checkbox] {
  position: absolute;
  appearance: none;
  width: 12px;
  height: 12px;
  display: block;
  top: 1px;
  left: -4px;
  border: 1px solid #fff;
}

footer form label input[type=checkbox]:after {
  content: "\2713";
  display: block;
  color: var(--main-color);
  position: absolute;
  top: -16px;
  left: -6px;
  width: 30px;
  height: 30px;
  font-size: 34px;
  opacity: 0;
  transition: 0.3s opacity;
}

footer form label input[type=checkbox]:checked:after {
  opacity: 1;
}

footer form button {
  color: #fff;
  margin: 30px 0px;
}

footer form button:after {
  background-color: #fff;
}

footer p a {
  display: block;
  text-decoration: none;
}

footer a,
footer button {
  color: #fff;
  transition: color 0.3s;
}

footer a:hover,
footer a:focus,
footer button:hover,
footer button.focus {
  color: #cecece;
}
